<tr>
  <td>
    <div class="flex items-center space-x-3">
      <%= record.comment %>
    </div>
  </td>
  <td>
    <%= number_to_currency(record.price, unit: "€", format: "%n %u") %>
  </td>
  <th>
    <button class="btn btn-ghost btn-xs">
      <%= link_to 'Details', record %>
    </button>
  </th>
</tr>